---
---

@import "{{ site.theme }}";

a.button {
  width: auto;
  margin-bottom: 14px;
}

#download-zip span,
#download-tar-gz span {
  padding: 5px;
  padding-left: 50px;
}

#download-zip span {
  background: transparent url(../images/chrome.png) 12px no-repeat;
}

#download-tar-gz span {
  background: transparent url(../images/windows.png) 12px no-repeat;
}

#view-on-github {
  display: none;
}

small {
  font-size: 0.8em;
}

blockquote {
  border-left: 10px solid lightslategray;
  background-color: rgba(255, 255, 255, 0.4);
}

p {
  font-weight: normal;
}